{% extends "layout.html" %}

{% block content %}
<h1>Home</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" style="height: 100%;">
    <div class="card" style="width: 18rem;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Mango_-_single.jpg/640px-Mango_-_single.jpg"
        class="card-img-top" style="height: 18rem;" alt="mango">
      <div class="card-body">
        <h5 class="card-title">Mango</h5>
        <p class="card-text">I love to eat mango, that's why I put the image here ♥.</p>
        <a href="https://en.wikipedia.org/wiki/Mango" class="btn btn-primary" target="_blank">Go to Wiki</a>
      </div>
    </div>
  </div>
  <!--   -->
  <div class="col" style="height: 100%;">
    <div class="card" style="width: 18rem;">
      <img src="https://ih1.redbubble.net/image.5122006832.7533/tapestry,720x-pad,600x600,f8f8f8.jpg"
        class="card-img-top" style="height: 18rem;" alt="Guinea pig">
      <div class="card-body">
        <h5 class="card-title">Guinea pig</h5>
        <p class="card-text">A beautiful guinea pig because they're so cute.</p>
        <a href="https://en.wikipedia.org/wiki/Guinea_pig" class="btn btn-primary" target="_blank">Go to Wiki</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://previews.123rf.com/images/riduwanmolla/riduwanmolla1809/riduwanmolla180901376/110118348-s%C3%ADmbolo-de-soluci%C3%B3n-icono-de-l%C3%A1mpara-icono-de-idea-vector.jpg"
        class="card-img-top" style="height: 18rem;" alt="idk">
      <div class="card-body">
        <h5 class="card-title">Success</h5>
        <p class="card-text">Finally I was able to change the height of image 1, not the best way but at least I did it.</p>
        <a href="https://en.wikipedia.org/wiki/Guinea_pig" class="btn btn-primary" target="_blank">Go to Wiki</a>
      </div>
    </div>
  </div>
  <div class="col" style="height: 100%;">
    <div class="card" style="width: 18rem;">
      <img src="https://i.pinimg.com/236x/a6/cd/ac/a6cdac8c77f6b6d77913ee398a7617a9.jpg"
        class="card-img-top" style="height: 18rem;" alt="Guinea pig">
      <div class="card-body">
        <h5 class="card-title">Incognite 2</h5>
        <p class="card-text">Now I need to know how to get everything to the same height ☻.</p>
        <a href="https://en.wikipedia.org/wiki/Guinea_pig" class="btn btn-primary" target="_blank">Go to Wiki</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}